<!DOCTYPE html>
<html lang="es" ng-app="LunchCheck">
<head>
  <meta charset="UTF-8">
  <title>Solucion para el modulo 1 </title>

</head>
<body>
  <div class="container" ng-controller="LunchCheckController">
    <div class="row">
      <div class="col-md-12">
        <h1>Solucion Para el Modulo 1</h1>
        <p>
          <label ng-for="foodString">Ingresa los Alimentos consumidos separados por comas: </label>
          <input type="text" ng-model="itemString" ng-class="{ok: resultOk, notOk: resultOk == false}">
          <button ng-click="checkItems();">Verifique si es Mucho</button>
        </p>
      </div>
    </div>
    <footer class="row">
      <div class="col-md-12">
        <p>Creado Por Cesar Salazar 03-04-2018</p>
      </div>
    </footer>
  </div>

</body>
</html>